<div class="login-form-container">
    <form class="form" (ngSubmit)="onSubmit(form)" #form="ngForm">
        <mat-form-field class="full-width">
            <input name="userEmail" ngModel required type="email" matInput placeholder="Email" class=" full-width">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input name="userPassword" ngModel required matInput type="password" placeholder="Password"
                class="full-width">
        </mat-form-field>
        <div class="full-width">
            <button class="full-width" [disabled]="form.invalid" type="submit" mat-raised-button
                color="primary">Login</button>
        </div>
    </form>
</div>