<div class="auctions-container">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 mt-5" *ngFor="let auction of auctions">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div>
                            {{auction.label}}
                        </div>
                        <div>
                            {{auction.associatedVehicle.fuelType |transformFuel}},
                            {{auction.associatedVehicle.transmission |transformTransmission}}
                        </div>
                        <div class="slideshow-container">
                            <div id="{{auction.id}}" class="mySlides fade height-200"
                                *ngFor="let img of auction.images">
                                <a href="{{img.url}}" target="_blank">
                                    <img class="height-200" mat-card-image src="{{img.url}}"
                                        (error)="onImageError($event)">
                                </a>
                                <div class="text">{{img.name}}</div>
                            </div>

                            <a class="prev" (click)="plusSlides(-1,auction)">&#10094;</a>
                            <a class="next" (click)="plusSlides(1,auction)">&#10095;</a>
                        </div>
                        <div style="text-align:center">
                            <span class="dot" id="{{auction.id}}" (click)="currentSlide(1,auction)"></span>
                            <span class="dot" id="{{auction.id}}" (click)="currentSlide(2,auction)"></span>
                            <span class="dot" id="{{auction.id}}" (click)="currentSlide(3,auction)"></span>
                        </div>
                        <div>
                            Time remaining : {{auction.timeRemaining}}
                        </div>
                        <div>
                            Highest bid value: €{{auction.currentHighestBidValue}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>

</div>